.container{
    margin: 0 auto;
    width: 1000px;
    font-family: Microsoft JhengHei;
}
.header{
    background-image: url(../images/bg_index.png);
    height:560px
}
.navbar{
    background-color:rgba(220, 220, 220, 0.2);
    display: flex;
    justify-content: space-between;
}
.logo a{
    display: block;
    width: 177px;
    height: 36px;
    background-image:url(../images/logo.png) ;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 30px;
}
.menu{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.menu a:hover {
    color:rgb(0, 204, 153);
    padding:15px 25px;
    border-bottom: 5px solid rgb(0, 204, 153);
}
.menu a{
    display: block;
    color:white;
    text-decoration: none;
    padding:20px 25px;
}
.banner{
    margin:110px 0px 100px 30px;
    
}
.banner p{
    font-size: 50px;
    color: rgb(0, 204, 153);
    line-height: 1.6;

}
.banner p span{
    color: white;
}
.banner-bt{
    position:relative;
    width:180px;
}
.banner a{
    display: block;
    width: 130px;
    padding: 15px 20px 15px 30px;
    color:white;
    background-color:  rgb(0, 204, 153);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 10px;
    
}
.banner .banner-svg{
    position:absolute;
    top:15px;
    right:20px;
    stroke:white;
    stroke-width:2;
    stroke-linejoin:miter;
    fill: none;
}



.contact{
    display: flex;
    justify-content: space-between;
    background-color:rgb(235, 235, 235) ;
    margin-top: 30px;
    padding: 140px 50px 30px 60px;
}
.contact p{
    font-size: 30px;
    font-weight: bold;
    margin-right: 80px;
    line-height: 1.5;
}
.contact-form input{
    display: block;
}
.contact-form input[type="text"],.contact-form input[type="email"]{
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border:0px solid black;
    padding-left: 10px;
}
.submit{
    display: flex;
    justify-content: flex-end;
}
.contact-form input[type="submit"]{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border:1px solid rgb(0, 204, 153);
    background-color: rgb(0, 204, 153);
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.contact-form input[type="submit"]:hover{
    color: red;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 50, 40);
    padding: 35px 40px;
}
.ft-logo a{
    display: block;
    width: 300px;
    height:40px;
}
.ft-logo p{
    color:gray;
    margin-left: 40px;
}
.ft-link{
    display: flex;
}
.ft-link li{
    margin: 10px;
}
.ft-link .fb-icon{
    display: inline-block;
    width: 34px;
    height:34px;
    background-image: url(../images/fb.png);
}
.ft-link .IG-icon{
    display: inline-block;
    width: 34px;
    height:34px;
    background-image: url(../images/ig.png);
}
.ft-link .twitter-icon{
    display: inline-block;
    width: 34px;
    height:34px;
    background-image: url(../images/tw.png);
}